<h1>New Diary Entry</h1>

<%= form_for :entry, url: entry_index_path do |n| %>
  <p>
    <%= n.label :title %><br>
    <%= n.text_field :title %>
  </p>

  <p>
    <%= n.label :name %><br>
    <%= n.text_field :name %>
  </p>

  <p>
    <%= n.label :detail %><br>
    <%= n.text_field :detail %>
  </p>

  <p>
    <%= n.submit %>
  </p>
<% end %>
