<!DOCTYPE html>
<html>
  <head>
    <title>FoodDiary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="left">
      <ul>
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </div>

    <div id="header">
      <p>Food Diary Log</p>
    </div>

    <div id="Diary">
      <div class="button">
        <button class="btn"><%= link_to "New Diary Entry", new_entry_path %></button>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
